{% extends 'main_template.html' %}

{% block content %}

{% include "partials/banner/banner_box.html" with type=2 %}

    <!-- site__body -->
    
    <div class="site__body">
        <div class="block">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6">
                        <div class="card flex-grow-1 mb-md-0">
                            <div class="card-body">

                            
                        <form action="" method="post">
                            {% csrf_token %} 
                            <div class="form-group">
                                {{ form.as_p }}
                            </div>
                            <button type="submit" class="btn btn-primary mt-4">ارسال کد</button>
                        </form>



                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

<div id="dropDownSelect1"></div>

{% endblock content %}
