{% comment %} {% load humanize %} {% endcomment %}

<!-- فیلتر قیمت -->
<div class="card mb-3">
                <div class="card-header">
                    <h5>فیلتر قیمت</h5>
                </div>
                <div class="card-body">
                    <label for="price-range">بازه قیمت</label>
                    <input type="range" class="form-range" min="50000" max="1000000" value="1000000" id="price-range" oninput="updatePrice()">
                    <div class="d-flex justify-content-between">
                        <span>100,000 تومان</span>
                        <span>50,000,000 تومان</span>
                    </div>
                    <div class="text-center mt-3">
                        <strong>مقدار قیمت:</strong>
                        <span id="price-value">1,000,000 تومان</span>
                    </div>
                </div>
            </div>
<!-- JavaScript for updating selected price range -->
<script>
    function updatePrice() {
        var priceValue = document.getElementById('price-range').value;
        document.getElementById('price-value').innerText = priceValue.toLocaleString() + " تومان";
    }
</script>
