{% load humanize %}

<!-- فیلتر قیمت -->

                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <label for="price-range"> <strong>بازه قیمت </strong></label>                  
                        <input type="range" name="price" min="{{res_aggre.min}}" max="{{res_aggre.max}}" value="{{res_aggre.max}}" id="price-range" oninput="showVal(this.value)" onchange="showVal(this.value)">
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class='card-font'>{{res_aggre.min|intcomma}} تومان</span>
                        <span class='card-font'>{{res_aggre.max|intcomma}} تومان</span>
                    </div>
                    <div class="text-center mt-3">
                        <strong>مقدار قیمت:</strong>
                        <!-- <span id="price-value">1,000,000 تومان</span> -->
                        <span><strong id="sel_price">{{res_aggre.max|intcomma}}</strong> تومان</span>
                    </div>
                </div>