  {% load static %}
  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->

                    <!-- ***** Menu Start ***** -->
                    <a class='menu-trigger'>
                      {% include "partials/navbar.html/" %}
                    </a>
                    <!-- ***** Menu End ***** -->
  </header -->

  <!-- ***** Header Area End ***** -->
