{% extends "main_template.html" %}
{% load render_partial %}

{% block title %}
جزئیات محصول
{% endblock title %}

{% block content %}     
<div style="padding-top: 350px;">
    
<h1>{{product.product_name}}</h1>

<div class="container overflow-hidden">
    <div class="row gy-5">
        <div class="col align-items-center">
            <div class="p-3 border bg-light align-items-center">
                <div class="card text-white bg-dark" style="width: 20rem; height: 20rem;">
                    <div class="card-body">
                        {% for feature in product.product_features.all %}
                        <label>
                            <input type="radio" name="material">
                                <span>{{feature.feature}}:{{feature.value}}</span>
                        </label>
                        {% endfor %}
                        <h5 class="card-title"> موجودی : موجود در انبار </h5>
                        <h6 class="card-subtitle mb-2 text-muted"> قیمت : {{product.price}} تومان </h6>
                        <p class="card-text"> ویژگیهای محصول </p>
                        <span>{{feature.feature}}:{{feature.value}}</span>
                        <ul class="product__meta">
                        <li class="product__meta-availability">موجودی: <span class="text-success">موجود در
                            انبار</span></li>
                        <li>برند: <a href=""> {{product.brand}} </a></li>
                        <a href="#" class="card-link">تعداد</a>
                        <a href="#" class="card-link">افزودن به سبد خرید</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light align-items-center">
                <div class="card text-white bg-dark">
                    <div class="card-body" style="width: 20rem; height: 20rem;">
                    <h5 class="card-title">توضیحات محصول</h5>
                    {% comment %} <p class="card-text">{{product.summery_description}}</p> {% endcomment %}
                    <div class="container">
    <div class="row">
        <div class="card product__description text-center" style="width: 727; height: 150px;">
            <div class="product__description">
                {% autoescape off %}
                    {{product.description}}
                {% endautoescape %}
            </div>
        </div>
    </div>
</div>
					<ul class="product__meta">
                        <li>تعداد نظرات: <a href="">7</a> نظر</li>
                    </ul>
                    <a href="#" class="btn btn-primary"></a>
                </div>
            </div>
            </div>
        </div>

        <div class="col d-flex align-items-stretch">
            <div class="p-3 border bg-light align-items-center">
                <div class="card text-white bg-dark" style="width: 20rem;">
                    <img src="{{media_url}}{{product.image_name}}" class="card-img-top align-items-center" alt="...">
                    <div class="row d-flex align-items-stretch card-body" style="width: 9rem; height: 9rem;">
                    {% for img in product.gallery_images.all %}
                        <a href="images/products/product-16-1.jpg" target="_blank">
                        <img class="" style="height: 2rem; width: 3rem;" src="{{media_url}}{{img.image_name}}" alt=""> </a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="card product__description text-center bg-dark text-white" style="width: 727; height: 300px;">
            <div class="product__description">
				<h4 class="description text-white">توضیحات کامل محصول</h4>
                {% autoescape off %}
                    {{product.description}}
                {% endautoescape %}
            </div>
        </div>
    </div>
</div>
{% comment %} {% render_partial 'products:related_products' slug=product.slug%} {% endcomment %}
</div>
{% endblock content %}