{% extends "main_template.html" %}
{% load render_partial %}
{% load humanize %}
{% block title %}صفحه اول{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Sidebar Filters -->
        <div class="col-md-3">
           <form action="">
             <!-- دسته‌بندی محصولات -->
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="mb-0">دسته‌بندی محصولات</h5>
                </div>
                <div class="collapse show" id="categoryCollapse">
                    <div class="card-body">
                        <div class="filter-categories">
                            {% render_partial 'products:product_groups_partials' %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- فیلتر قیمت -->
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="mb-0" data-bs-toggle="collapse" data-bs-target="#priceAccordion">
                        فیلتر قیمت
                    </h5>
                </div>
                <div id="priceAccordion" class="collapse show">
                    <div class="card-body">
                        {% include "partials/product/price_filter.html" %}
                    </div>
                </div>
            </div>

            <!-- فیلتر برندها -->
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="mb-0" data-bs-toggle="collapse" data-bs-target="#brandAccordion">
                        برندها
                    </h5>
                </div>
                <div id="brandAccordion" class="collapse show">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            {% comment %} {% render_partial "products:brands_partial" slug=group_slug %} {% endcomment %}
                        </ul>
                    </div>
                </div>
            </div>

            <!-- سایر ویژگی‌ها -->
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="mb-0" data-bs-toggle="collapse" data-bs-target="#featuresAccordion">
                        سایر ویژگی‌ها
                    </h5>
                </div>
                <div id="featuresAccordion" class="collapse show">
                    <div class="card-body">
                        {% comment %} {% render_partial "products:features_for_filter" slug=group_slug %} {% endcomment %}
                        
                    </div>
                </div>

                 {% render_partial "products:brands_partial" slug=group_slug %}
                {% render_partial "products:features_for_filter" slug=group_slug %}
                <button class="btn btn-primary">فیلتر</button>
            </div>
        </div>

           </form>
        <!-- بخش نمایش محصولات -->
        <div class="col-md-9">
            <div class="page-header__title mb-4">
                <h1> محصولات گروه : <span class="text-success">{{ current_group.group_title }}</span></h1>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for product in products %}
                    {% include "partials/product/product_box.html" with type=3 %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
