.search-input {
    direction: rtl;
}

.my_icons {
    color: white;
    font-size: 2.5rem;
}


/*------------------- style for header in other page -------------------------------------------- */
.main-banner2 {
    background-image: url(../../../media/images/banner-bg.jpg);
    border-radius: 0px 0px 50px 50px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    padding: 75px;
}


.main-banner2 .caption p {
    color: #fff;
    margin-bottom: 70px;
}

.main-banner2 .caption form {
    position: relative;
    max-width: 450px;
}

.main-banner2 .caption form input {
    max-width: 450px;
    width: 100%;
    height: 550px;
    outline: none;
    border-radius: 25px;
    background-color: #fff;
    border: none;
    padding: 0px 25px;
    font-size: 14px;
    color: #7a7a7a;
}

.main-banner2 .caption form button {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    background-color: #ee626b;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0px 25px;
    border: none;
    border-radius: 25px;
    position: absolute;
    left: 0;
    top: 0;
    transition: all .3s;
}

.main-banner2 .caption form button:hover {
    background-color: #0071f8;
}

.main-banner2 .right-image {
    position: relative;
}

.main-banner2 .right-image img {
    border-radius: 25px;
}

.main-banner2 .right-image span.price {
    position: absolute;
    left: 20px;
    top: 20px;
    border-radius: 25px;
    background-color: #008af8;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    padding: 4px 15px;
}

.main-banner2 .right-image span.offer {
    position: absolute;
    right: -25px;
    bottom: -25px;
    border-radius: 50%;
    background-color: #ee626b;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}


.main-banner2 .caption h2 {
    font-size: 48px;
    color: #fff;
    margin-top: 20px;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 40px;
}

.main-banner2 .caption h2:after {
    position: absolute;
    background-image: url(../../../media/images/caption-dec.png);
    width: 202px;
    height: 12px;
    content: '';
    left: 125px;
    bottom: 0;
}

.main-banner2 .caption h6 {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5px;
}

/*------------------- style for header in other page -------------------------------------------- */
.main-banner3 {
    background-image: url(../../../media/images/banner-bg.jpg);
    border-radius: 0px 0px 50px 50px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    padding: 45px;
}
.main-banner4 {
    margin-bottom: 10px;
    padding: 80px;
}

.top-panle{
margin-top:80px ;
}

.header-text1 {
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.header-text1-color {
    color: #ffffff;
}


/* ================================================================================================ */
/* ---------------------- style for login --------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    position: fixed;
    z-index: 99;
    width: 100%;

    background: #008af8;
}

nav .wrapper {
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 150px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .logo a {
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.wrapper .nav-links {
    display: inline-flex;

}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    background: #3A3B3C;
}

.nav-links .mobile-item {
    display: none;
}

.nav-links .drop-menu {
    position: absolute;
    background: #242526;
    width: 143px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
    transition: all 0.3s ease;
    top: 95px;
    opacity: 1;
    visibility: visible;
}

.drop-menu li a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}

.mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
}

.mega-box .content {
    background: #242526;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mega-box .content .row {
    width: calc(25% - 30px);
    line-height: 45px;
}

.content .row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .row header {
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
}

.content .row .mega-links {
    margin-left: -40px;
    border-left: 1px solid rgba(255, 255, 255, 0.09);
}

.row .mega-links li {
    padding: 0 20px;
}

.row .mega-links li a {
    padding: 0px;
    padding: 0 20px;
    color: #d9d9d9;
    font-size: 17px;
    display: block;
}

.row .mega-links li a:hover {
    color: #f2f2f2;
}

.wrapper .btn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.wrapper .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

@media screen and (max-width: 970px) {
    .wrapper .btn {
        display: block;
    }

    .wrapper .nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        top: 0;
        left: -100%;
        background: #242526;
        display: block;
        padding: 50px 10px;
        line-height: 50px;
        overflow-y: auto;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
        transition: all 0.3s ease;
    }

    /* custom scroll bar */
    ::-webkit-scrollbar {
        width: 50px;
    }

    ::-webkit-scrollbar-track {
        background: #242526;
    }

    ::-webkit-scrollbar-thumb {
        background: #3A3B3C;
    }

    #menu-btn:checked~.nav-links {
        left: 0%;
    }

    #menu-btn:checked~.btn.menu-btn {
        display: none;
    }

    #close-btn:checked~.btn.menu-btn {
        display: block;
    }

    .nav-links li {
        margin: 15px 10px;
    }

    .nav-links li a {
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }

    .nav-links .drop-menu {
        position: static;
        opacity: 1;
        top: 65px;
        visibility: visible;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        box-shadow: none;
        transition: all 0.3s ease;
    }

    #showDrop:checked~.drop-menu,
    #showMega:checked~.mega-box {
        max-height: 100%;
    }

    .nav-links .desktop-item {
        display: none;
    }

    .nav-links .mobile-item {
        display: block;
        color: #f2f2f2;
        font-size: 20px;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .nav-links .mobile-item:hover {
        background: #3A3B3C;
    }

    .drop-menu li {
        margin: 0;
    }

    .drop-menu li a {
        border-radius: 5px;
        font-size: 18px;
    }

    .mega-box {
        position: static;
        top: 65px;
        opacity: 1;
        visibility: visible;
        padding: 0 20px;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .mega-box .content {
        box-shadow: none;
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }

    .mega-box .content .row {
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.08);
    }

    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2) {
        border-top: 0px;
    }

    .content .row .mega-links {
        border-left: 0px;
        padding-left: 15px;
    }

    .row .mega-links li {
        margin: 0;
    }

    .content .row header {
        font-size: 19px;
    }
}

nav input {
    display: none;
}

.body-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 0 30px;
}

.body-text div {
    font-size: 45px;
    font-weight: 600;
}

/* جزیئات محصول */
.product-detail-page {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.product-images,
.product-info {
    padding: 20px;
    background-color: #f9f9f9;
}

.product-header {
    text-align: center;
}

.product-info ul {
    list-style-type: none;
    padding: 0;
}

.add-to-cart {
    margin-top: 20px;
}

.a-icon {
    margin: 5px;
}

.col-size {
    flex: 0 0 auto;
    width: 24.667%;
}

/*  - دسته بندی محصولات - فیلترها - قیمت*/
.card-body {
    padding-right: 10px;
    padding-left: 10px;
}

.card-font {
    font-size: .8rem;

}

.mt-5 {
    margin-top: 14rem !important;
}

.filter-categories__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15;
    padding-left: 15;
}

.filter__arrow {
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.filter__title {

    --bs-btn-font-weight: 400;
    --bs-btn-disabled-color: #6c757d;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
}

.filter-list__item {
    padding-top: 5px;
    padding-right: 10;
    padding-left: 10;
}

.card-header {
    background-color: #cac7c7;
    margin: 10px;
}

.mb-01 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}

/* =============================== ACCORDIAN ===================================================== */
summary {
    background-color: #ee626b;
    color: white;
    cursor: pointer;
    padding: 0px;
}

details {
    border: 2px solid blue;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

details[open] summary {
    background-color: #3b3b3b;
}

.icons_search{
    display: flex;
    flex-direction: row;
}
/* =============================== order page stule =============================================== */
.basket {
    font-size: 2rem;
    padding: 8px;
}
.user-panel {
    font-size: 2rem;
    padding: 8px;
    color:#ee4156;
}

.search{
    font-size: 2rem;
    color:#ee4156;
}
/* ============================== shop_body ======================================================= */
.shop_body {
    margin-top: 0px !important;
}

.cart_product {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around
}

.buy_content {
    font-size: 2rem;

}

.min_max_height {
    min-height: 120px;
    max-height: 120px;
    overflow: hidden;
}

.img_hover {
    --c: #ee626b;
    /* the border color */
    --b: 10px;
    /* the border thickness*/
    --g: 5px;
    /* the gap on hover */

    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%, var(--c) 0;
    background:
        conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) var(--_i, 200%) 0 /200% var(--_i, var(--b)) no-repeat,
        conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%)/var(--_i, var(--b)) 200% no-repeat;
    transition: .3s, background-position .3s .3s;
    cursor: pointer;
}

.img_hover:hover {
    --_i: 100%;
    transition: .3s, background-size .3s .3s;
}

.img_hover.body {
    background: #e8e9ba;
    display: grid;
    grid-gap: 40px;
    height: 100vh;
    margin: 0;
    grid-auto-flow: column;
    place-content: center;
}


/*  ------------------------- button basaket -------------------------*/
.button_basket{
    border: 1px solid #000000;
    border-radius: 40px;
    padding: 10px 20px;
    background-color: #ee626b;
    color: white;
    margin-top: 10px;

}

/* ============== detail page style ============================ */
/*  info pro*/
.container-info{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px 0;
    flex-direction: row-reverse;
    



}
 .contain{
    width: 85%;
    border: 1px solid yellow;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align:center;
  

}
.left-info{
    width: 50%;
    margin-top: 30px;
}

.right-info{
    width: 50%;
    transition: transform 0.3s ease;
    overflow: hidden; 
    margin-top: 30px;
}
.right-info:hover{
    transform: scale(0.9);


}
.pic-info{
    width:80%;
    margin: 0 auto;
  
}
   
.info-icon{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}
.info-icon p{
    padding: 20px;
}
.fa-icon{
    margin-left:10px;
}
.info-btn{
    margin-top: 40px;
}
.info-title p{
    padding: 10px;
}

/* end info pro*/

/* Style the tab */
.container-comment{
    width: 60%;
    height: auto;
    margin:23px  auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid blue;
    padding: 20px;

    
    border-radius: 0px 30px 0px 30px;
}
.tab {
   
    display: flex;
    justify-content: center;

    width: 80%;
   overflow: hidden; 
  border: 1px solid #ccc;
   background-color: #f1f1f1; 
}
h3 {
    font-size: 1.3rem;
    font-weight: bold;
}
p{
    font-size: 1rem;
    font-weight: bold;
}
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 1.1rem;
  font-weight: bold;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    width: 80%;
  display: none;
  border: 1px solid #ccc;
  border-top: none;
}
.texarea-comment{
    background-color: rgb(240, 238, 238);
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}

/*end copy pro*/

.container-copyproduct{
    background-color: aqua;
    width:100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-radius:20px;
    margin: 0 auto;
}
.pro-grid{
    padding:10px;
    margin:20px;
    background-color: rgb(198, 240, 238);
    border-radius: 15px;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.product-title{
    display: flex;
    justify-content: center;
}
.btn-small{
    border: none;
     display: inline-block;
     font-size: 1.2rem;
     text-align: center;
     border-radius: 40px;
     background-color: #D31E3C;
     color: white;
     padding:13px 23px;
     font-weight: bold;
     text-decoration: none;
     line-height: 1.5rem;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .pic-thumnail{
    width: 210px;
    height: 160px;
    margin-top: 10px;
    border: 1px solid rgb(192, 189, 189);
    border-radius: 50%;
    
}
.price{
    padding-bottom: 5px;
}
/*end copy pro*/



/* ============== coment ============================ */
.body_C {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}

.view_c{
    width: 100%;
    display: flex;
    align-content: flex-end;
    flex-direction: row;
    justify-content: center;
}

.product_tabs_c {
    border: 2px solid #f0f0f0;
    border-radius: 2px;
    padding: 8px 90px;
}

.checked {
	color: orange;
}

.fa-heart {
	color: red;
}
.cursor-pointer {
	cursor: pointer;
}

/* ============= compare buttom ================ */
.info_com{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    padding-right: 70px;

}

.compare{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.info_ul{
    width : 100%; 
    display : flex; 
    justify-content : space-between; 
    padding: 0;
    padding-bottom: 20px;
}

.buy_button{
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: baseline;
    width: 90%;
    padding-right: 70px;
}

.form-quantity{
    width: 100px;
    border: 1px solid rgb(255, 83, 83);
    border-radius: 10px;
    text-align: center;
}