<div class="card-body">
<div id="accordion">
        
    {% for key,value in feature_dict.items  %}
    {% if value %}           

    <details>
      <summary> {{key}} 
        <a class="card-link" data-toggle="collapse" href="#collapseOne{{key.id}}">
        </a>
      </summary>
      <div>
        <p> 
          {% for item in value %}
              <div class="card-body">
                <label class="filter-list__item">
                  <span class="filter-list__input input-check">
                    <span class="input-check__body">
                      <input id="item_{{item.id }}" name="faeture" value="{{item.id}}" type="checkbox" class="input-check__input" />
                      <span class="input-check__box"></span>
                      <svg class="input-check__icon" width="9px" height="7px">
                        <use xlink:href="images/sprite.svg#check-9x7"></use>
                      </svg>
                    </span>
                  </span><span class="filter-list__title">{{item.value_title}}</span>
                </label>
              </div>
          {% endfor %}
        </p>
      </div>
    </details>
    {% endif %}
    {% endfor %}
</div>
</div>
