        <div class="col-lg-6">
          <div class="section-heading">
            <h6>پرطرفدار</h6>
            <h2> محبوب ترین ها </h2>
          </div>
        </div>
        {% comment %} <div class="col-lg-6">
          <div class="main-button2">
            <a href="shop.html">مشاهده همه</a>
          </div>
        </div> {% endcomment %}

        <div>
            <br>
        </div>
        {% for group in product_groups %}
            <div class="col-lg-4 col-md-6">
          <div class="item">
            <div class="thumb">
              <a href="product-details.html"><img src="{{media_url}}{{group.image_name}}"  style="width: 80px;" alt=""></a>
              <span class="price">{{group.products_of_groups.all|length}} محصول </span>
            </div>
            <div class="down-content">
              <h4>{{group.group_title}}</h4>
              <a href="product-details.html"><i class="fa fa-shopping-bag"><span class="a-icon"> مشاهده محصولات </span></i></a>
            </div>
          </div>
        </div>
        
        {% endfor %}
